name: Flutter CI (Android)

on:
  workflow_dispatch:
    inputs:
      backend-ip-address:
        description: "Backend IP Address"
        required: true
        default: "10.0.2.2:8080"

defaults:
  run:
    working-directory: packages/cliente_manager
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (Release)
        run: flutter build apk --release --dart-define=API_URL=${{ github.event.inputs['backend-ip-address'] }} --split-per-abi

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: |
            packages/cliente_manager/build/app/outputs/flutter-apk/**
